body
{
    background-color: rgb(136, 255, 0);
}

h1
{

  color: blue;
  background-color: cyan;
}

show_sketch
{
    float:right;
}

canvas
{
    border: 5px;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 70px;
    animation-iteration-count: infinite;
}
@keyframes example{

    from {box-shadow    : 1px 1px 38px grey;}
     to {box-shadow: 1px 1px 38px white;}
    
}

p
{
    padding-top: 10px;
    font-size: 25px;

}

#deez
{
  float: left;
}

#nutz
{
    float: right;
}
